:host {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.content {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
}
