<div class="wrapper">
  <h1>Angular router</h1>
  <nav class="navbar">
    <button routerLink="/crisis-center" routerLinkActive="active">Crisis center</button>
    <button routerLink="/heroes" routerLinkActive="active">Heroes</button>
    <button [routerLink]="[{outlets: {popup: ['compose']}}]">Contact us</button>
  </nav>
  <div class="content" [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>

  <router-outlet name="popup"></router-outlet>
</div>
